@charset "UTF-8";
/*---BASE---*/
/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'AsapRegular';
  src: url("../fonts/Asap-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'AsapBold';
  src: url("../fonts/Asap-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayLight';
  src: url("../fonts/Raleway-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'RalewayRegular';
  src: url("../fonts/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'RelewaySemiBold';
  src: url("../fonts/Releway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'RelewayBold';
  src: url("../fonts/Releway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CardoItalic';
  src: url("../fonts/Cardo-Italic.ttf") format("truetype"); }

/*-----MODULES-----*/
.header {
  padding: 40px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.header .wrapHeader {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.header .wrapHeader:before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #4e5167; }

.header .wrapHeader .wrapMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header .wrapHeader .wrapMenu .linkBlock {
  margin-right: 60px; }

.header .wrapHeader .wrapMenu .linkBlock:last-child {
  margin-right: 0; }

.header .wrapHeader .wrapMenu .linkBlock .link {
  font-family: RelewayBold;
  font-size: 13px;
  color: #a1a2ae;
  text-transform: uppercase;
  text-decoration: none; }

@media (max-width: 768px) {
  .header .wrapHeader {
    position: relative; }
  .header .wrapHeader:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #4e5167; }
  .header .wrapHeader .wrapMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .wrapHeader .wrapMenu .linkBlock {
    margin-right: 10px; }
  .header .wrapHeader .wrapMenu .linkBlock .link {
    font-size: 25px; } }

@media (max-width: 640px) {
  .header .wrapHeader {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .wrapHeader .wrapMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .wrapHeader .wrapMenu .linkBlock .link {
    font-size: 30px; } }

@media (max-width: 480px) {
  .header {
    padding: 20px 15px; }
  .header .wrapHeader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .wrapHeader .wrapMenu .linkBlock {
    margin: 5px; }
  .header .wrapHeader .wrapMenu .linkBlock .link {
    font-size: 18px; } }

@media (max-width: 414px) {
  .header .wrapHeader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .wrapHeader .wrapMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .wrapHeader .wrapMenu .linkBlock .link {
    font-size: 20px; } }

@media (max-width: 375px) {
  .header .wrapHeader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .wrapHeader .wrapMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .wrapHeader .wrapMenu .linkBlock .link {
    font-size: 20px; } }

@media (max-width: 320px) {
  .header .wrapHeader {
    position: relative; }
  .header .wrapHeader:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #4e5167; }
  .header .wrapHeader .wrapMenu .linkBlock .link {
    font-size: 15px; } }

.firstSection {
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 0 15px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.firstSection .wrapFirstSection {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.firstSection .wrapFirstSection .container {
  max-width: 930px;
  text-align: center; }

.firstSection .wrapFirstSection .container .title {
  font-family: 'OpenSansBold';
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px; }

.firstSection .wrapFirstSection .container .text {
  font-family: 'RalewayRegular';
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 75px; }

.firstSection .wrapFirstSection .container .btn {
  padding: 20px 50px;
  background-color: #e84545;
  border: none;
  outline: none;
  font-family: 'RelewaySemiBold';
  font-size: 13px;
  color: #fff;
  text-transform: uppercase; }

@media (max-width: 960px) {
  .firstSection .wrapFirstSection .container {
    margin-top: 90px; }
  .firstSection .wrapFirstSection .container .title {
    font-size: 30px;
    margin-bottom: 0; }
  .firstSection .wrapFirstSection .container .text {
    font-size: 25px;
    margin: 20px 0; }
  .firstSection .wrapFirstSection .container .btn {
    font-size: 20px; } }

@media (max-width: 768px) {
  .firstSection .wrapFirstSection .container {
    margin-top: 175px; }
  .firstSection .wrapFirstSection .container .title {
    font-size: 28px; }
  .firstSection .wrapFirstSection .container .text {
    font-size: 18px;
    margin: 12px 0; }
  .firstSection .wrapFirstSection .container .btn {
    font-size: 18px;
    padding: 13px 28px; } }

@media (max-width: 640px) {
  .firstSection .wrapFirstSection .container {
    margin-top: 175px; }
  .firstSection .wrapFirstSection .container .title {
    font-size: 22px; }
  .firstSection .wrapFirstSection .container .text {
    font-size: 17px;
    margin: 10px 0; }
  .firstSection .wrapFirstSection .container .btn {
    font-size: 15px; } }

@media (max-width: 480px) {
  .firstSection .wrapFirstSection .container {
    margin-top: 175px; }
  .firstSection .wrapFirstSection .container .title {
    font-size: 27px; }
  .firstSection .wrapFirstSection .container .text {
    font-size: 15px;
    margin: 12px 0; }
  .firstSection .wrapFirstSection .container .btn {
    font-size: 15px; } }

@media (max-width: 375px) {
  .firstSection .wrapFirstSection .container {
    margin-top: 200px; }
  .firstSection .wrapFirstSection .container .title {
    font-size: 17px;
    margin-bottom: 0; }
  .firstSection .wrapFirstSection .container .text {
    font-size: 10px;
    margin: 8px 0; }
  .firstSection .wrapFirstSection .container .btn {
    font-size: 10px;
    padding: 15px 30px; } }

@media (max-width: 320px) {
  .firstSection .wrapFirstSection .container {
    margin-top: 200px; }
  .firstSection .wrapFirstSection .container .title {
    font-size: 20px;
    margin-bottom: 15px; }
  .firstSection .wrapFirstSection .container .text {
    font-size: 15px;
    margin-bottom: 10px; }
  .firstSection .wrapFirstSection .container .btn {
    font-size: 10px;
    padding: 15px 30px; } }

.featureSection {
  padding: 0 15px; }

.featureSection .wrapFeatureSection {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 125px 0; }

.featureSection .wrapFeatureSection .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 55px; }

.featureSection .wrapFeatureSection .container:last-child {
  margin-bottom: 0; }

.featureSection .wrapFeatureSection .container .profession {
  width: 300px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.featureSection .wrapFeatureSection .container .profession .icon {
  margin-bottom: 35px; }

.featureSection .wrapFeatureSection .container .profession .title {
  font-family: RelewayBold;
  font-size: 14px;
  color: #2d3033;
  margin-bottom: 25px; }

.featureSection .wrapFeatureSection .container .profession .text {
  font-family: RalewayRegular;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.3; }

@media (max-width: 768px) {
  .featureSection .wrapFeatureSection {
    padding: 75px 0; }
  .featureSection .wrapFeatureSection .container .profession {
    margin-right: 15px; }
  .featureSection .wrapFeatureSection .container .profession:last-child {
    margin-right: 0; } }

@media (max-width: 667px) {
  .featureSection .wrapFeatureSection {
    padding: 75px 0; }
  .featureSection .wrapFeatureSection .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .featureSection .wrapFeatureSection .container .profession {
    margin-bottom: 20px; } }

.worksSection .wrapWorks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.worksSection .wrapWorks .imagesBlock {
  -webkit-box-flex: 4;
  -webkit-flex: 4 0 25%;
      -ms-flex: 4 0 25%;
          flex: 4 0 25%;
  position: relative;
  /*относительное позиционирование*/ }

.worksSection .wrapWorks .imagesBlock .images {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1px; }

.worksSection .wrapWorks .imagesBlock:hover .overlay {
  display: block;
  background-color: #e83a3a;
  opacity: 0.9;
  position: absolute; }

.worksSection .wrapWorks .imagesBlock:hover .overlay:before {
  position: absolute;
  content: 'Project Name';
  font-family: RelewayBold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }

.worksSection .wrapWorks .imagesBlock:hover .overlay:after {
  position: absolute;
  content: 'User Interface Design';
  font-family: Relaway;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 55%;
  left: 50%; }

.worksSection .wrapWorks .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }

@media (max-width: 960px) {
  .worksSection .wrapWorks .imagesBlock {
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 50%;
        -ms-flex: 2 0 50%;
            flex: 2 0 50%; } }

@media (max-width: 640px) {
  .worksSection .wrapWorks .imagesBlock {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; } }

.ourteamSection {
  padding: 100px 15px; }

.ourteamSection .wrapSection {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.ourteamSection .wrapSection .container {
  width: 100%;
  max-width: 270px; }

.ourteamSection .wrapSection .container .images {
  margin-bottom: 30px; }

.ourteamSection .wrapSection .container .titleName {
  font-family: RalewayRegular;
  font-size: 22px;
  color: #57595c;
  text-transform: capitalize;
  margin-bottom: 15px; }

.ourteamSection .wrapSection .container .titleProfession {
  font-family: RalewayRegular;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase; }

.ourteamSection .wrapSection .container .text {
  margin: 30px 0;
  font-family: Relaway;
  font-size: 14px;
  color: #57595c;
  line-height: 1.3; }

.ourteamSection .wrapSection .container .socialNetworks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.ourteamSection .wrapSection .container .socialNetworks .socialBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e8ecee;
  width: 40px;
  height: 40px;
  margin-right: 5px; }

@media (max-width: 1024px) {
  .ourteamSection .wrapSection .container {
    margin-bottom: 40px; }
  .ourteamSection .wrapSection .container:last-child {
    margin-bottom: 0; } }

.testimonialsSection {
  width: 100%; }

.testimonialsSection .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.testimonialsSection .wrapper .imagesBlock {
  width: 50%; }

.testimonialsSection .wrapper .imagesBlock .images {
  width: 100%;
  height: 100%; }

.testimonialsSection .wrapper .itemSlider {
  width: 50%;
  background-color: #53354a;
  padding: 110px 15px 175px; }

.testimonialsSection .wrapper .itemSlider div .descriptionBlock {
  max-width: 515px;
  margin: 0 auto; }

.testimonialsSection .wrapper .itemSlider div .descriptionBlock .textCite {
  color: white;
  font-family: 'CardoItalic';
  font-size: 36px;
  color: white;
  line-height: 1.2;
  margin-bottom: 30px; }

.testimonialsSection .wrapper .itemSlider div .descriptionBlock .textSource {
  font-family: RelewayBold;
  font-size: 13px;
  color: white;
  text-transform: uppercase; }

@media (max-width: 1024px) {
  .testimonialsSection .wrapper .imagesBlock {
    width: 100%; }
  .testimonialsSection .wrapper .itemSlider {
    width: 100%; } }

@media (max-width: 414px) {
  .testimonialsSection .wrapper .imagesBlock {
    width: 100%; }
  .testimonialsSection .wrapper .itemSlider {
    padding: 50px 15px 100px;
    width: 100%; }
  .testimonialsSection .wrapper .itemSlider div .descriptionBlock .textCite {
    font-size: 20px; }
  .testimonialsSection .wrapper .itemSlider div .descriptionBlock .textSource {
    font-size: 10px; } }

.slick-prev {
  width: 30px;
  height: 90px;
  position: absolute;
  left: -100px;
  bottom: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0; }

.slick-prev:before {
  content: '';
  position: absolute;
  top: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }

.slick-prev:after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.slick-next {
  width: 30px;
  height: 90px;
  position: absolute;
  right: -100px;
  bottom: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0; }

.slick-next:before {
  content: '';
  position: absolute;
  top: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.slick-next:after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: -10px;
  width: 50px;
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0px; }

.slick-dots {
  position: absolute;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 7px;
  width: 7px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  color: transparent; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 7px;
  background-color: #755d6e;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 1; }

.slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1; }

.sectionDownload {
  padding: 100px 15px; }

.sectionDownload .wrapper {
  margin: 0 auto;
  text-align: center; }

.sectionDownload .wrapper .title {
  font-family: RalewayLight;
  font-size: 28px;
  color: #2d3033;
  margin-bottom: 15px; }

.sectionDownload .wrapper .text {
  font-family: RelewayBold;
  font-size: 13px;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 40px; }

.sectionDownload .wrapper .btn {
  width: 100%;
  max-width: 280px;
  padding: 20px 0;
  background-color: #e84545;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-family: RelewaySemiBold;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase; }

@media (max-width: 768px) {
  .sectionDownload .wrapper .title {
    margin-bottom: 30px; }
  .sectionDownload .wrapper .btn {
    max-width: 220px; } }

.footer {
  background-color: #3a3e64; }

.footer .top {
  max-width: 1130px;
  margin: 0 auto;
  padding: 70px 0 90px; }

.footer .top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer .top .container .containerBlock {
  width: 33.3%;
  text-align: center; }

.footer .top .container .containerBlock .wrapSocial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 140px;
  margin: auto; }

.footer .top .container .containerBlock .wrapSocial .socialNetworks {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .top .container .containerBlock .wrapText {
  max-width: 325px;
  margin: auto; }

.footer .top .container .containerBlock .wrapText .title {
  font-family: RelewayBold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px; }

.footer .top .container .containerBlock .wrapText .text {
  font-family: Relaway;
  font-size: 14px;
  color: #9d9fb2;
  line-height: 1.5; }

.footer .bottom {
  padding: 30px 15px;
  background-color: #313454; }

.footer .bottom .wrapBottom .text {
  text-align: center;
  font-family: Relaway;
  font-size: 14px;
  color: #808080;
  margin-bottom: 10px; }

.footer .bottom .wrapBottom .text:last-child {
  margin-bottom: 0; }

.footer .bottom .wrapBottom .text span {
  color: #fff; }

.footer .bottom .wrapBottom .text span small {
  margin: 0 5px 0 5px;
  color: #e84545; }

.footer .bottom .wrapBottom .text span .link {
  color: #fff;
  text-decoration: none; }

@media (max-width: 768px) {
  .footer {
    background-color: #3a3e64; }
  .footer .top {
    padding: 40px 0 60px; }
  .footer .top .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer .top .container .containerBlock {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  .footer .top .container .containerBlock:last-child {
    margin-bottom: 0; }
  .footer .top .container .containerBlock .wrapText .title {
    margin-bottom: 10px; }
  .footer .bottom {
    padding: 30px 15px;
    background-color: #313454; }
  .footer .bottom .wrapBottom .text {
    text-align: center;
    font-family: Relaway;
    font-size: 14px;
    color: #808080;
    margin-bottom: 10px; }
  .footer .bottom .wrapBottom .text:last-child {
    margin-bottom: 0; } }
