.featureSection{
  padding: 0 15px;
  .wrapFeatureSection{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 125px 0;
    .container{
      display: flex;
      justify-content:  space-around;
      margin-bottom: 55px;
      &:last-child{
        margin-bottom: 0;
      }
      .profession {
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon{
          margin-bottom: 35px;
        }
        .title{
          font-family: RelewayBold;
          font-size: 14px;
          color: #2d3033;
          margin-bottom: 25px;

        }
        .text{
          font-family: RalewayRegular;
          font-size: 14px;
          color: #6c7279;
          line-height: 1.3;

        }
      }
    }
  }
}
@media (max-width: 768px) {
  .featureSection{
    .wrapFeatureSection{
      padding: 75px 0;
      .container{
        .profession {
          margin-right: 15px;
          &:last-child{
            margin-right: 0;
          }
          .icon{
          }
          .title{
          }
          .text{
          }
        }
      }
    }
  }
}
@media (max-width: 667px) {
  .featureSection{
    .wrapFeatureSection{
      padding: 75px 0;
      .container{
        flex-wrap: wrap;
        .profession {
          margin-bottom: 20px;
          .icon{
          }
          .title{
          }
          .text{
          }
        }
      }
    }
  }
}