.firstSection{
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15px;
  height: 100vh;
  display: flex;
  align-items: center;
  .wrapFirstSection{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
      max-width: 930px;
      text-align: center;
      .title{
        font-family: 'OpenSansBold';
        font-size: 65px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      .text{
        font-family: 'RalewayRegular';
        font-size: 22px;
        color: #fff;
        line-height: 1.5;
        margin-bottom: 75px;
      }
      .btn{
        padding: 20px 50px;
        background-color: #e84545;
        border: none;
        outline: none;
        font-family: 'RelewaySemiBold';
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
@media (max-width: 960px) {
  .firstSection{
    .wrapFirstSection{
      .container{
        margin-top: 90px;
        .title{
          font-size: 30px;
          margin-bottom: 0;
        }
        .text{
          font-size: 25px;
          margin: 20px 0;
        }
        .btn{
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .firstSection{
    .wrapFirstSection{
      .container{
        margin-top: 175px;
        .title{
          font-size: 28px;
        }
        .text{
          font-size: 18px;
          margin: 12px 0;
        }
        .btn{
          font-size: 18px;
          padding: 13px 28px;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .firstSection{
    .wrapFirstSection{
      .container{
        margin-top: 175px;
        .title{
          font-size: 22px;
        }
        .text{
          font-size: 17px;
          margin: 10px 0;
        }
        .btn{
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .firstSection{
    .wrapFirstSection{
      .container{
        margin-top: 175px;
        .title{
          font-size: 27px;
        }
        .text{
          font-size: 15px;
          margin: 12px 0;
        }
        .btn{
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .firstSection{
    .wrapFirstSection{
      .container{
        margin-top: 200px;

        .title{
          font-size: 17px;
          margin-bottom: 0;
        }
        .text{
          font-size: 10px;
          margin: 8px 0;
        }
        .btn{
          font-size: 10px;
          padding: 15px 30px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .firstSection{
    .wrapFirstSection{
      .container{
        margin-top: 200px;
        .title{
          font-size: 20px;
          margin-bottom: 15px;
        }
        .text{
          font-size: 15px;
          margin-bottom: 10px;
        }
        .btn{
          font-size: 10px;
          padding: 15px 30px;
        }
      }
    }
  }
}