/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AsapRegular';
  src: url('../fonts/Asap-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AsapBold';
  src: url('../fonts/Asap-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RelewaySemiBold';
  src: url('../fonts/Releway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RelewayBold';
  src: url('../fonts/Releway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'CardoItalic';
  src: url('../fonts/Cardo-Italic.ttf') format('truetype');
}