.footer{
  background-color: #3a3e64;
  .top{
    max-width: 1130px;
    margin: 0 auto;
    padding: 70px 0 90px;
    .container{
      display: flex;
      justify-content: space-between;
      .containerBlock{
        width: 33.3%;
        text-align: center;
        //margin-left: 100px;
        .wrapSocial{
          display: flex;
          justify-content: space-around;
          max-width: 140px;
          margin: auto;
          .socialNetworks{
            box-sizing: border-box;
            border-radius: 3px;
            width: 40px;
            height: 40px;
            border: 2px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{

            }
          }
        }
        .wrapText {
          max-width: 325px;
          margin: auto;
          .title{
            font-family: RelewayBold;
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .text{
            font-family: Relaway;
            font-size: 14px;
            color:#9d9fb2;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .bottom{
    padding: 30px 15px;
    background-color: #313454;
    .wrapBottom{
      .text{
        text-align: center;
        font-family: Relaway;
        font-size: 14px;
        color: #808080;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          color: #fff;
          //position: relative;
          small {
            margin: 0 5px 0 5px;
            color: #e84545;
          }
          .link{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer{
    background-color: #3a3e64;
    .top{
      padding: 40px 0 60px;
      .container{
        display: flex;
        flex-direction: column;
        .containerBlock{
          width: 100%;
          text-align: center;
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0;
          }
          .wrapText {
            .title{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .bottom{
      padding: 30px 15px;
      background-color: #313454;
      .wrapBottom{
        .text{
          text-align: center;
          font-family: Relaway;
          font-size: 14px;
          color: #808080;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}