.header{
  padding: 40px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  .wrapHeader{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -40px;
      left: 0;
      right:0;
      height: 1px;
      background-color: #4e5167;
    }
    .wrapMenu{
      display: flex;
      .linkBlock{
        margin-right: 60px;
        &:last-child{
          margin-right: 0;
        }
        .link{
          font-family: RelewayBold;
          font-size: 13px;
          color: #a1a2ae;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header{
    .wrapHeader{
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right:0;
        height: 1px;
        background-color: #4e5167;
      }
      .wrapMenu{
        display: flex;
        flex-direction: column;
        .linkBlock{
          margin-right: 10px;
          .link{
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
.header{
  .wrapHeader{
    justify-content: space-between;
    .wrapMenu{
      display: flex;
      flex-direction: column;
      .linkBlock{
        .link{
          font-size: 30px;
        }
      }
    }
  }
}
}
@media (max-width: 480px) {
  .header{
    padding: 20px 15px;
    .wrapHeader{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .wrapMenu{
        .linkBlock{
          margin: 5px;
          .link{
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .header{
    .wrapHeader{
      display: flex;
      flex-direction: column;
      .wrapMenu{
        display: flex;
        flex-direction: column;
        .linkBlock{
          .link{
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .header{
    .wrapHeader{
      display: flex;
      flex-direction: column;
      .wrapMenu{
        display: flex;
        flex-direction: column;
        .linkBlock{
          .link{
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .header{
    .wrapHeader{
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right:0;
        height: 1px;
        background-color: #4e5167;
      }
      .wrapMenu{
        .linkBlock{
          .link{
            font-size: 15px;
          }
        }
      }
    }
  }
}
