.ourteamSection{
  padding: 100px 15px;
  .wrapSection{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .container{
      width: 100%;
      max-width: 270px;
      .images{
        margin-bottom: 30px;
      }
      .titleName{
        font-family: RalewayRegular;
        font-size: 22px;
        color: #57595c;
        text-transform: capitalize;
        margin-bottom: 15px;
      }
      .titleProfession{
        font-family: RalewayRegular;
        font-size: 13px;
        color: #e84545;
        text-transform: uppercase;



      }
      .text{
        margin: 30px 0;
        font-family: Relaway;
        font-size: 14px;
        color: #57595c;
        line-height: 1.3;
      }
      .socialNetworks{
        display: flex;
        .socialBlock{
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #e8ecee;
          width: 40px;
          height: 40px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .ourteamSection{
    .wrapSection{
      .container{
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0;
        }
        .images{
        }
        .titleName{
        }
        .titleProfession{
        }
        .text{
        }
        .socialNetworks{
          .socialBlock{
          }
        }
      }
    }
  }
}