.sectionDownload{
  padding: 100px 15px;
  .wrapper{
    margin: 0 auto;
    text-align: center;
    .title{
      font-family: RalewayLight;
      font-size: 28px;
      color: #2d3033;
      margin-bottom: 15px;
    }
    .text{
      font-family: RelewayBold;
      font-size: 13px;
      color: #2d3033;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    .btn{
      width: 100%;
      max-width: 280px;
      padding: 20px 0;
      background-color: #e84545;
      outline: none;
      border: none;
      border-radius: 3px;
      font-family: RelewaySemiBold;
      font-size: 13px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 768px) {
  .sectionDownload{
    .wrapper{
      .title{
        margin-bottom: 30px;
      }
      .text{
      }
      .btn{
        max-width: 220px;

      }
    }
  }
}
