.testimonialsSection {
  width: 100%;
  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .imagesBlock {
      width: 50%;
      .images {
        width: 100%;
         height: 100%;
      }
    }
    .itemSlider {
      width: 50%;
      background-color: #53354a;
      padding: 110px 15px 175px;
      div {
        .descriptionBlock {
          max-width: 515px;
          margin: 0 auto;
          .textCite {
            color: white;
            font-family: 'CardoItalic';
            font-size: 36px;
            color: white;
            line-height: 1.2;
            margin-bottom: 30px;
          }
          .textSource {
            font-family: RelewayBold;
            font-size: 13px;
            color: white;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .testimonialsSection {
    .wrapper {
      .imagesBlock {
        width: 100%;
        .images {
        }
      }
      .itemSlider {
        width: 100%;
        div {
          .descriptionBlock {
            .textCite {
            }
            .textSource {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .testimonialsSection {
    .wrapper {
      .imagesBlock {
        width: 100%;
        .images {
        }
      }
      .itemSlider {
        padding: 50px 15px 100px;
        width: 100%;
        div {
          .descriptionBlock {
            .textCite {
              font-size: 20px;
            }
            .textSource {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}