.worksSection {
  .wrapWorks {
    display: flex;
    flex-wrap: wrap;
    .imagesBlock {
      flex: 4 0 25%;
      position: relative; /*относительное позиционирование*/
      .images {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1px;
        //position: relative;
      }
      &:hover .overlay {
        display: block;
        background-color: #e83a3a;
        opacity: 0.9;
        position: absolute;
        &:before{
          position: absolute;
          content:'Project Name';
          font-family: RelewayBold;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
        &:after {
          position: absolute;
          content: 'User Interface Design';
          font-family: Relaway;
          font-size: 14px;
          color: #fff;
          text-transform: capitalize;
          transform: translate(-50%, -50%);
          top: 55%;
          left: 50%;
        }

      }

    }
    .overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      transition: 1.5s
    }
  }
}
  @media (max-width: 960px) {
    .worksSection {
      .wrapWorks {
        .imagesBlock {
          flex: 2 0 50%;
        }
      }
    }
  }
  @media (max-width: 640px) {
    .worksSection {
      .wrapWorks {
        .imagesBlock {
          flex: 1 0 100%;
        }
      }
    }
  }


